# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.LINQTraining.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\TRMO\.NET projects\LINQTraining\.idea\.idea.LINQTraining\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
